
@font-face {
  font-family: 'MavenProRegular';
  src: url('MavenProRegular.eot?#iefix') format('embedded-opentype'),  url('MavenProRegular.woff') format('woff'), url('MavenProRegular.ttf')  format('truetype'), url('MavenProRegular.svg#MavenProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
